%h1 Calculate

%p
  行列の和，積，トレース，行列式を計算します．
  改行と空白(' ')区切りで行列を入力してください．

%p
  e.g.)
  %table
    %tr
      %td
        1
      %td
        0
      %td
        1
    %tr
      %td
        0
      %td
        1
      %td
        0
    %tr
      %td
        1
      %td
        0
      %td
        1

- if @error
  %p= @error

%h2 sum
= form_tag 'calculate/sum' do
  = text_area_tag 'metrix_a', '', class: 'text-box', size: '30x5'
  = text_area_tag 'metrix_b', '', class: 'text-box', size: '30x5'
  = submit_tag 'calculate', class: 'button'

- if @sum
  %table
    - @sum.each do |row|
      %tr
        - row.each do |column|
          %td= column

%h2 prod
= form_tag 'calculate/prod' do
  = text_area_tag 'metrix_a', '', class: 'text-box', size: '30x5'
  = text_area_tag 'metrix_b', '', class: 'text-box', size: '30x5'
  = submit_tag 'calculate', class: 'button'

- if @prod
  %table
    - @prod.each do |row|
      %tr
        - row.each do |column|
          %td= column

%h2 trace
= form_tag 'calculate/tr' do
  = text_area_tag 'metrix', '', class: 'text-box', size: '30x5'
  = submit_tag 'calculate', class: 'button'

- if @tr && !@error
  = @tr


%h2 det
= form_tag 'calculate/det' do
  = text_area_tag 'metrix', '', class: 'text-box', size: '30x5'
  = submit_tag 'calculate', class: 'button'

- if @det && !@error
  = @det

%h2 sum history
.histories
  - @sum_histories.each do |history|
    .history
      .table
        %table
          - history.metrix_a.split("\r\n").each do |row|
            %tr
              - row.split(' ').each do |column|
                %td
                  = column

      .sign
        +

      .table
        %table
          - history.metrix_b.split("\r\n").each do |row|
            %tr
              - row.split(' ').each do |column|
                %td
                  = column

      .sign
        \=


      .table
        %table
          - history.result.split("\r\n").each do |row|
            %tr
              - row.split(' ').each do |column|
                %td
                  = column

%h2 prod history
.histories
  - @prod_histories.each do |history|
    .history
      .table
        %table
          - history.metrix_a.split("\r\n").each do |row|
            %tr
              - row.split(' ').each do |column|
                %td
                  = column

      .sign
        x


      .table
        %table
          - history.metrix_b.split("\r\n").each do |row|
            %tr
              - row.split(' ').each do |column|
                %td
                  = column

      .sign
        \=


      .table
        %table
          - history.result.split("\r\n").each do |row|
            %tr
              - row.split(' ').each do |column|
                %td
                  = column
